h1 {
    color: black;
    background-color: lightgrey;
    width: 600px;
    padding: 0px;
    text-align: center;
    margin: auto;
}
p {
    font-family: verbana;
    font-size: 17px;
    text-align: justify;
    text-justify: inter-word;
}
a.note {
    text-decoration: none;
}
a.note:visited {
    color: blue;
}
a.internal {
    color: blue;
    text-decoration: none;
}
a.internal:hover,
a.interal:active {
    text-decoration: underline;
    color: blue;
}
a.header_link {
    color: black;
    text-decoration: underline;
}
a.header_link:hover,
a.header_link:active {
    text-decoration: underline;
    color: blue;
}