body {
 background-image: url("bground_img-cropped.jpg");
  background-repeat: no-repeat, repeat;
  height: 100%;
  background-position: center;
  width: fill;
   background-size: 70% 150%;
}
h1 {
    color: black;
    background-color: lightgrey;
    width: auto;
    padding: 0px;
    text-align: center;
    margin: auto;
}

p {
    font-family: verbana;
    font-size: 20px;
    text-align: center;
}
h2 {
    font-size: 20px;
    color: black;
    margin: 30px;
}

