
h1 {
    color: black;
    background-color: lightgrey;
    width: auto;
    padding: 0px;
    text-align: center;
    margin: auto;
}

p {
    font-family: verbana;
    font-size: 20px;
    text-align: center;
}
h2 {
    font-size: 20px;
    color: black;
    margin: 30px;
}

