.container {
    display: flex;
    width: 50%;

}
div > div {
    flex: 1;
    padding: 10px;

}
div.section {
    /*border-style: solid;*/
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-spacing: 3px;
}
ul {
    list-style-type: none;
}
h3 {text-decoration: underline;}

.violence {
    background-color: LightCoral;
}
.action {
    background-color: yellow;
}
.sig {
    background-color: SandyBrown;
}
.homeland {
    background-color: MediumSpringGreen;
}
.NatUnity {
    background-color: SkyBlue;
}
.possess {
    background-color: MediumOrchid;
}
.positive {
    font-style: italic;
}
.negative {
    font-weight: bold;
}
.ambiguous {
    text-decoration: underline;
}
